# fly.toml app configuration file generated for kaigpt on 2026-01-04T01:44:43Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'kaigpt'
primary_region = 'iad'

[build]

[http_service]
  internal_port = 11434
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
